.scene-container{
    position: relative;
    width: 256px;
    height: 220px;
    border: 5px solid red;
    overflow: hidden;
    
}

.background-container{
    position: relative;
    top: 0;
    left: 0;
    width: 1975px;
    height: 448px;
    background-image: url(../img/scene-1-1.png);
    animation-name: ani-background;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.goomba{
    position: absolute;
    background-image: url(../img/goomba.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    animation: ani-goomba .8s steps(2) infinite;
}

.mario{
    position: absolute;
    top: 185px;
    left: 50px;
    background-image: url(../img/mario.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    animation: ani-mario .4s steps(1, start) infinite;
}

@keyframes ani-background{
    0%{
        left: 0%;
    }
    16%{
        left: -880px
    }
    20%{
        top: 0;
        left: -880px
    }


    20.1%{
        top: -228px;
        left: -891px;
    }
    36.6%{
        top: -228px;
        left: -891px;
    }


    36.7%{
        top: 0;
        left: -1138px;
    }
    46%{
        top: 0;
        left: -1138px;
    }
    60%{
        left: -1718px;
    }
    100%{
        left: -1718px;
    }
}

@keyframes ani-goomba{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: -32px 0px;
    }
}

@keyframes ani-mario{
    25%{
        /*background-position: -1px -1px;*/
        background-position: -35px -1px;
    }
    50%{
        background-position: -18px -1px;
    }
    75%{
        background-position: -35px -1px;
    }
    100%{
        background-position: -52px -1px;
    }
}

#goomba-1{
    top: 185px;
    left: 354px;
}

#goomba-2{
    top: 185px;
    left: 639px;
}

#goomba-3{
    top: 185px;
    left: 818px;
}

#goomba-4{
    top: 185px;
    left: 843px;
}

#goomba-5{
    top: 185px;
    left: 1378px;
}

#goomba-6{
    top: 185px;
    left: 1404px;
}
